################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CommonDataLayer/bin
/CommonDataLayer/obj
/CommonLayer/bin
/CommonLayer/obj
/PMS/bin
/PMS/obj
/WebEssentials2015-Settings.json
